<%= render 'layouts/header' %>
		<div id="topkeyword">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="mobilemenu-opener ma5-toggle-menu"><i class="fa fa-bars"></i></div>
						<%= render 'layouts/menumobile' %>
						<span id="labeltopkeyword">Top Keyword</span>
						<%= render 'layouts/topkey' %>
						<%= render 'layouts/trolimobile' %>
					</div>
				</div>
			</div>
		</div>

		<div id="nav-breadcumb">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="compresedmenu">
							<div class="headingcompresed">
								<i class="fa fa-bars"></i> &nbsp; <span>Kategori</span> &nbsp; <i class="fa fa-angle-down"></i>
							</div>
							<%= render 'layouts/sidemenu' %>
						</div>
						<div class="breadcumb">
							<span><a href="#">Home</a></span>
							<span>></span>
							<span><a href="#">Toko</a></span>
							<span>></span>
							<span><a href="#">Review</a></span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- ./Header -->

		<div class="spacermedium"></div>

		<div class="container">
			<div class="header_lp-toko">
				<div class="wrap-left-htoko">
					<div class="foto_toko"><img src="<% if @toko.toko_image.present? %><%= @toko.toko_image.url %><% end %>" class="responsiveimg"></div>
					<h1 class="title_toko"><%= @toko.nama_toko %> &nbsp; <span <% if @toko.status == "Tutup" %> style="background-color:red;"<% end %> class="label_sttoko"> Toko <%= @toko.status %></span></h1>
          <% if @toko.status == "Tutup" %>
          <br>Tutup Sampai: <%= @toko.tutup_sampai %>
          <hr>
          <% end %>
					<label class="sttltoko"><%= @toko.slogan %></label>
					<p class="shortse_toko">
						<span class="quote_toko"><i class="fa fa-quote-left"></i></span> <%=raw @toko.deskripsi %>
					</p>
          <%  if user_signed_in? %>
          <% if current_user.id == @toko.user_id %>
					<a href="<%= edit_toko_path %>" class="linktokoedit"><i class="fa fa-cog"></i> Setting</a>
          <% end %>
          <% end %>
				</div>
			</div>
			<div class="core_menu_toko">
				<ul class="list-unstyled cmt-list">
					<li ><a href="<%= toko_path(@toko) %>">Produk</a></li>
					<li><a href="<%= toko_path(@toko) %>/review">Review</a></li>
					<li><a href="#">Informasi Toko</a></li>
					<li class="active"><a href="<%= toko_path(@toko) %>/catatan">Catatan</a></li>
				</ul>

			</div>
			<div class="row mainkntn_toko">
				<div class="col-md-12">
          <section class="ctnUlasan intoko">
          <%=raw @toko.catatan %>
          </section>
					</div>

			</div>
		</div>

		<div class="spacerbig"></div>
<%= render 'layouts/footer' %>