<nav class="ma5-menu-mobile">
							<ul class="ma5-ul ma5-active-ul">
								<li class="ma5-li-1"><a class="ma5-toggle-menu"><span class="ma5-btn-leave closemobomenu"><i class="fa fa-times"></i></span></a></li>
								<li class="ma5-li-2"> <a class="ma5-path-to-active" href="#node2">Semua Kategori</a><span class="ma5-btn-enter"><i class="fa fa-angle-right"></i></span>
									<ul class="ma5-ul-2">
										<li class="ma5-li-2-1">
											<div class="ma5-leave-bar"><span class="ma5-btn-leave closemobomenu"><i class="fa fa-angle-left"></i></span></div>
										</li>
                    <% Category.all.each do |c| %>
                    <li class="ma5-li-2-2"><%= link_to "#{c.kategori}", c %></li>
                    <% end %>
									</ul>
								</li>
                <li class="ma5-li-3"><a href="<%= Homeitem.find(18).text2 %>"><%= Homeitem.find(18).text1 %></a></li>
                <li class="ma5-li-4"><a href="<%= Homeitem.find(18).text4 %>"><%= Homeitem.find(18).text3 %></a></li>
                <li class="ma5-li-6"><a href="<%= Homeitem.find(18).text6 %>"><%= Homeitem.find(18).text5 %></a></li>
                <li class="ma5-li-6"><a href="<%= Homeitem.find(18).text8 %>" class="typeorange"><%= Homeitem.find(18).text7 %></a></li>
							</ul>
						</nav>